.cabal-sandbox
*.sublime-workspace
dist
cabal.sandbox.config
*.sublime-project
src/*.hi
src/*.o
src/Main
bitblast-cbcsolution.txt
bitblast-cbctemp.lp
qmc-cpp/libqmc.a
qmc-cpp/build/*
*.xcuserstate
*.xcbkptlist
